body{
    background-color: rgb(66, 65, 65);
}

h1 {
    color: aliceblue;
    text-align: center;
   border-bottom: 10px solid green;
   border-left: 10px solid green;
   border-right: 10px solid green;
   border-top: 10px solid green;
}

h2{
    color: aliceblue;
}

p{
    color: aliceblue;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}



